<head>
    <title>Decodifika</title>
            
    <meta name="description" content="Decodifika é um site educacional feito por um estudante de engenharia elétrica para estudantes de engenharia elétrica">
    <meta name="keywords" content="Decodifika, DECODIFIKA, educacional, sistemas, digitais, engenharia, elétrica, computação, mapa, Karnaugh, memórias">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon/icone.ico">
    <link rel="stylesheet" type="text/css" href="css/estilosMain.css"> 

</head>