<h1><a href="./">Decodifika</a></h1>
		
<div class="opcoes">
	<tr id="linhaopcoes">

		<td id="karna"><a href="./MapaDeKarnaugh">Mapa de Karnaugh</a></td>
		<td id="maqestados"><a href="./MaquinaDeEstados">Máquina de Estados</a></td>
		<td id="regist"><a href="./Registradores">Registradores</a></td>
		<td id="memoria"><a href="./Memorias">Memórias</a></td>

	</tr>
</div>