<!DOCTYPE HTML>
<html>
	<%- include ("../partials/headtag.ejs") %>
	<body>

	<%- include ("../partials/header.ejs") %>
		
	<h2>Bem vindos ao Decodifika!</h2>
			
	<div id="paragInicial">Decodifika é um projeto educacional em construção, voltado a estudantes de engenharia elétrica. O plano é desenvolver o site gradualmente, adicionando uma funcionalidade de cada vez (conforme eu aprendo tudo sobre cada uma delas kkk). Como eu sou o único criador/administrador/desenvolvedor/etc do Decodifika, espero que entendam que essas coisas consomem bastante tempo, e que muitas vezes o projeto não será minha maior prioridade :).</div>
	

	<br>
	<%- include ('../partials/foot.ejs') %>	

	
	
	</body>
</html>