<!DOCTYPE HTML>
<html>
	<head>
        <title>Decodifika</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="shortcut icon" href="favicon/icone.ico">
		<link rel="stylesheet" type="text/css" href="css/estilosReg.css"> 

	</head>
	
	<body>
		
		<%- include ('../../partials/header.ejs') %>	
	
	<p id="msgConstrucao">Em construção :)</p> 
		
	<br><br>

	<%- include ('../../partials/foot.ejs') %>	

	</body>
</html>