<!DOCTYPE HTML>

	<script src="scripts/scriptsMapREVAMP.js"></script>
	<link rel="stylesheet" type="text/css" href="css/estilosMapTESTE.css"> 
	<%- include ("../../partials/headtag.ejs") %>
	<body onload="criaTabela()">
	
		<%- include ("../../partials/header.ejs") %>

		<form oninput="criaTabela()">
		
		<input class="radio" type="radio" name="QntVar"  value="2" checked="checked"> 2 vari&aacuteveis <br>
		<input class="radio" type="radio" name="QntVar" value="3" > 3 vari&aacuteveis <br>
		<input class="radio" type="radio" name="QntVar" value="4" > 4 vari&aacuteveis <br>
		<input class="radio" type="radio" name="QntVar" value="5" > 5 vari&aacuteveis <br>
		<input class="radio" type="radio" name="QntVar" value="6" > 6 vari&aacuteveis <br>
		<input class="radio" type="radio" name="QntVar" value="7" > 7 vari&aacuteveis <br>
		<input class="radio" type="radio" name="QntVar" value="8" > 8 vari&aacuteveis <br>
		<input class="radio" type="radio" name="QntVar" value="9" > 9 vari&aacuteveis <br>
		<input class="radio" type="radio" name="QntVar" value="10" > 10 vari&aacuteveis <br>
		
		</form><br><br>
		
	<button onclick="geraRespostaLonga(), geraRespostaReduzida()">submit</button> <br><br>
	
	<div id="tabela-container"></div> <br>

	<div id="respostaLonga-container"></div> <br>
	
	<div id="respostaCurta-container"></div> <br>

	<%- include ("../../partials/foot.ejs") %>
	
	</body>