<!DOCTYPE HTML>
<html>
	<%- include ("../../partials/headtag.ejs") %>

	
	<body>
	
	<%- include ('../../partials/header.ejs') %>	
	
	<p id="msgConstrucao">Em construção :)</p> 
		
	<br><br>
	
	<%- include ('../../partials/foot.ejs') %>	

	</body>
</html>